@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #903aff,
    #d434fe,
    #ff26b9,
    #fe34b9
  );
}
